<!doctype html>
{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <p>I live and work in in the county town of Dorchester, Dorset. I started bashing, sawing, piercing and polishing
        metal 15 years ago. What started as a hobby and light relief from a challenging career in the NHS, became a
        passion
        and preoccupation. My children and husband ‘banished’ me to the shed 3 years ago, as the noise and my lack of
        responding to them became too much in the kitchen.</p>

    <p>I am never happier than in my shed when I have the radio on, my husband or friends joining me for a cuppa, with
        the
        heater on in winter and the doors fling open in summer, making, making and more making. The barrel polisher
        sounds
        like strong waves crashing against the shore, my hammers clinking and clacking on steel block and the pendant
        drill
        whirs happily and the chance to pierce and polish. Sometimes friends join me and we design and make things
        together.
        I love sharing ideas and skills.</p>

    <p>I work mainly in silver, but love the opportunity to undertake commissions in gold and in silver. I’ve made many
        pairs of wedding rings. As yet they have been lucky rings and there have been no divorces, to my knowledge!
        I tend to make ‘one offs’, as I believe that each piece of silverware I make should have their own mark and I
        unique
        self. They are hallmarked with my stamp, too. I also have a makers insurance for exhibiting and selling.</p>

    <p>I love to collaborate with customers and make things upon request. It’s great to know who they are for and where
        they are going. My pieces have been sent abroad to Australia, New Zealand, Singapore, Canada and other far
        corners
        of the globe. I love to think of them twinkling away in exotic places that I’ve never been to!</p>
{% endblock %}
