<!doctype html>
{% extends "base.html" %}
{% block title %}
    About Me
{% endblock %}
{% block content %}
    <p class="fs-4">I live and work in the county town of Dorchester, Dorset. I started bashing, sawing, piercing and polishing
        metal 15 years ago. What started as a hobby and light relief from a challenging career in the NHS, became a
        passion
        and preoccupation. My children and husband ‘banished’ me to the shed 3 years ago, as the noise and my lack of
        responding to them became too much in the kitchen.</p>

    <p class="fs-4">I am never happier than when I'm in my shed, radio on, with my husband or friends popping in for a cuppa.</p>

    <p class="fs-4">I work mainly in silver, but love the opportunity to undertake commissions in gold. I’ve made many
        pairs of wedding rings. As yet they have been lucky rings and there have been no divorces, to my knowledge!
        I tend to make ‘one offs’, as I believe that each piece of silverware I make should have their own mark and
        identity.
        All items over 7g are hallmarked with my stamp at the London Assay office. I also have a maker's insurance for
        exhibiting and selling.</p>

    <p class="fs-4">I love to collaborate with customers and make things upon request. It’s great to know to whom and where the
        pieces will be going.
        My jewellery has been sent all around the world... Australia, New Zealand, Singapore, Canada.
        I love to think of them twinkling away in exotic places that I’ve never been to!</p>

    <br>
    <br>
    <p class="fs-4">Should you have any questions or requests - please contact me by email or DM me on Instagram.</p>

    <h4>Email: rebeccajthorne@live.co.uk</h4>
    <a href="https://www.instagram.com/rebethorne/"><img alt="insta" src="/static/img/insta.svg" height="50"></a>
    <span class="fs-4">rebethorne</span>
{% endblock %}
