<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}
    Admin
{% endblock %}
{% block content %}
    {% if session['username'] %}
        <h4>Welcome {{ session['username'] }}</h4>
    {% endif %}
    <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" enctype="multipart/form-data" action="/additem">
                <div class="mb-3">
                    <label for="itemName" class="form-label">Name</label>
                    <input name="name" class="form-control" id="itemName" required>
                </div>
                <div class="mb-3">
                    <label for="itemMaterials" class="form-label">Materials</label>
                    <input name="materials" class="form-control" id="itemMaterials">
                </div>
                <div class="mb-3">
                    <label for="itemDimensions" class="form-label">Dimensions</label>
                    <input name="dimensions" class="form-control" id="itemDimensions">
                </div>
                <div class="mb-3">
                    <label for="itemOther" class="form-label">Other</label>
                    <input name="other" class="form-control" id="itemOther">
                </div>
                <div class="mb-2">
                    <label for="collection" class="form-label">Collection</label>
                    {% for ext, int in collections.items() %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="collection" id="{{ int }}"
                                   value="{{ int }}"
                                   required>
                            <label class="form-check-label" for="{{ int }}">
                                {{ ext }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="itemPrice" class="form-label">Price</label>
                    <div class="input-group">
                        <div class="input-group-text">£</div>
                        <input name="price" type="number" class="form-control" id="itemPrice" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Upload image</label>
                    <input name="images[]" class="form-control form-control-sm" id="formFileSm" type="file"
                           accept=".gif,.jpg,.jpeg,.png" required multiple>
                </div>
                <label for="itemStatus">Item Status</label>
                <div class="input-group mb-3" id="itemStatus">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="itemSold">
                            Sold
                        </label>
                        <input class="form-check-input" name="sold" type="checkbox" value="X" id="itemSold">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="itemHidden">
                            Hide
                        </label>
                        <input class="form-check-input" name="hidden" type="checkbox" value="X" id="itemHidden">
                    </div>
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
