<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}
    {{ Shop }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-2">
            <div class="list-group mb-3 shadow-sm" id="collectionChecks">
                <label class="list-group-item">
                    <input class="form-check-input me-1 collection-radio" name="collectionRadios" type="radio"
                           value="all" checked>
                    All
                </label>
                {% for ext, int in collections.items() %}
                    <label class="list-group-item">
                        <input class="form-check-input me-1 collection-radio" name="collectionRadios"
                               type="radio"
                               value="{{ int }}">
                        {{ ext }}
                    </label>
                {% endfor %}
            </div>
        </div>
        <div id="itemCards" class="col mb-3">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const admin = `{{ session['username'] }}`
        {#let _items = JSON.parse(`{{ items|tojson|safe|replace("\\n", "%NEWLINE%")|replace("\\r", "%NEWLINER%") }}`)#}
    </script>
    <script src="/static/js/items.js"></script>
{% endblock %}
